<ion-header>
  <ion-navbar>
    <ion-title>
      List with Virtual Scroll
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list [virtualScroll]="images">
    <ion-list-header *ngIf="images">
      Total {{ images?.length }}
    </ion-list-header>

    <ion-item *virtualItem="let image">
      <ion-card>
        <img src="/assets/imgs/logo.png" width="200"  height="100" *ngIf="!image.loaded"/>
        <img [src]="image.src" (load)="image.loaded = true"/>
        <ion-card-content>
          <ion-card-title>
            {{ image.author }}
          </ion-card-title>
          <p>
            {{ image.filename }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
